*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 0 auto;
    min-height: 90vh;
}

.header-wrapper{
    padding: 20px;
    background-color: #E5EEFB;
}

header{
    background-color: #004884;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 3px #ffffff;
    color: cornsilk;
}

h1{
    margin: auto;
    font-family: sans-serif;
}

.content{
    justify-content: center;
    padding: 20px; 
}
.formulario{
    margin: 40px auto;
    width: 35%;
    background-color: #E5EEFB;
    padding: 10px 0;
    border-radius: 10px;
}
table {
    width: 100%;
    table-layout: auto;
}

form{
    margin: 10px 10px;
    padding: 5px 10px 7px 12px;
}

.element{
    display: block;
    margin: 8px 5px;
}

footer{
    background-color: #3366CC;
    max-height: 220px;
    display: flex;
    color: cornsilk;
    padding: 20px;
}

